/* Some CSS Setup - nothing to do with flexbox */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: sans-serif;
  margin: 0;
  background-color: #f2f7f5;
  color: #475d5b;
}

.page-header {
  display: flex;
  flex-wrap: wrap;
}
.page-header h1 {
  margin: 1.2em 0;
  width: 100%;
  color: #00473e;
  text-align: center;
  font-size: 1.9em;
  font-weight: bold;
}
.page-header > a {
  color: white;
  font-weight: 100;
  letter-spacing: 2px;
  text-decoration: none;
  background: #00473e;
  padding: 20px 5px;
  display: block;
  width: 100%;
  text-align: center;
  transition: all 0.5s;
  flex: 1 0 50%;
}
.page-header > a:hover {
  background: #00362f;
}
.page-header .flex-nav {
  display: none;
  width: 100%;
}
.page-header .flex-nav.open {
  display: block;
}
.page-header .flex-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #d2e2dc;
  width: 100%;
}
.page-header .flex-nav ul li {
  border-bottom: 1px solid #f0f1f1;
  width: 100%;
  margin: 0;
  padding: 0;
}
.page-header .flex-nav ul li a {
  text-decoration: none;
  display: block;
  width: 100%;
  padding: 2%;
  color: #475d5b;
}
.page-header .flex-nav ul li a:hover {
  background-color: #b5c7c0;
}

.content > header, .content > section, .content > aside {
  border: 1px solid #ddd;
  box-shadow: 0px 10px 24px -4px rgba(0, 0, 0, 0.58);
  margin-bottom: 1.2em;
}
.content > section {
  font-size: 1rem;
}
.content > section h2 {
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: #b1ccc2;
  color: #00473e;
  font-size: 1.2em;
  font-weight: bolder;
}
.content > section article {
  font-size: inherit;
  margin: 1.4em 0.4em 1.4em 0.4em;
}
.content > section article h3 {
  font-size: 1.1em;
  font-weight: bold;
}
.content > section article p {
  font-size: 0.8em;
}
.content > section article img {
  display: block;
  width: 90%;
  margin: auto;
  box-shadow: 0px 5px 14px -3px rgba(0, 0, 0, 0.58);
}
.content aside {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 1.2em;
}
.content aside h2 {
  flex: 0 1 100%;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: #b1ccc2;
  color: #00473e;
  font-size: 1.2em;
  font-weight: bolder;
}
.content aside article {
  flex: 0 1 45%;
  position: relative;
  margin: 1.1em 0.6em 0 0.6em;
}
.content aside article:hover .image {
  opacity: 0.3;
}
.content aside article:hover .middle {
  opacity: 1;
}
.content aside article .image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}
.content aside article .middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.content aside article .middle .text {
  text-transform: uppercase;
  font-weight: 700;
  color: #48cfad;
  font-size: 14px;
  padding: 16px 32px;
}
.content aside article .middle .text a {
  text-decoration: none;
}

/* @media all and (min-width: 700px) {
  .flex-nav {
    display: block;
    & ul {
      display: flex;
      flex-wrap: wrap;
      & li {
        flex: 1 1 50%;
        text-align: center;
      }
    }
  }

  .page-header {
    display: flex;
    flex-direction: column-reverse;
  }
  a.toggleNav {
    display: none;
  }
} */
@media all and (min-width: 1200px) {
  .page-header {
    margin-top: 3em;
    flex-direction: row;
  }
  .page-header a.toggleNav {
    display: none;
  }
  .page-header a.user {
    order: 9999;
    display: block;
    flex-basis: 10%;
  }
  .page-header h1 {
    width: 80%;
    text-align: center;
  }
  .page-header .flex-nav {
    margin-top: 2em;
    margin-bottom: 2em;
    order: 99999;
    display: block;
  }
  .page-header .flex-nav ul {
    display: flex;
    flex-wrap: wrap;
  }
  .page-header .flex-nav ul li {
    flex: 0 1 12%;
    text-align: center;
  }
  .page-header .flex-nav ul li a {
    padding: 1em;
  }
}

/*# sourceMappingURL=index.css.map */
