/* Some CSS Setup - nothing to do with flexbox */
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: sans-serif;
  margin: 0;
  background-color: #f2f7f5;
  color: #475d5b;
}

.carousel {
  border: 3px solid #bbf7df;
}

.page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.page-header h1 {
  margin: 1.2em 0;
  width: 100%;
  color: #00473e;
  text-align: center;
  font-size: 1.9em;
  font-weight: bold;
}

.page-header > a {
  color: white;
  font-weight: 100;
  letter-spacing: 2px;
  text-decoration: none;
  background: #00473e;
  padding: 20px 5px;
  display: block;
  width: 100%;
  text-align: center;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 50%;
          flex: 1 0 50%;
}

.page-header > a:hover {
  background: #00362f;
}

.page-header .flex-nav {
  display: none;
  width: 100%;
}

.page-header .flex-nav.open {
  display: block;
}

.page-header .flex-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #d2e2dc;
  width: 100%;
}

.page-header .flex-nav ul li {
  border-bottom: 1px solid #f0f1f1;
  width: 100%;
  margin: 0;
  padding: 0;
}

.page-header .flex-nav ul li a {
  text-decoration: none;
  display: block;
  width: 100%;
  padding: 2%;
  color: #475d5b;
}

.page-header .flex-nav ul li a:hover {
  background-color: #b5c7c0;
}

.content > header,
.content > section,
.content > aside {
  border: 1px solid #ddd;
  -webkit-box-shadow: 0px 10px 24px -4px rgba(0, 0, 0, 0.58);
          box-shadow: 0px 10px 24px -4px rgba(0, 0, 0, 0.58);
  margin-bottom: 1.2em;
}

.content > header img {
  max-height: 400px;
}

.content > section {
  font-size: 1rem;
}

.content > section h2 {
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: #b1ccc2;
  color: #00473e;
  font-size: 1.2em;
  font-weight: bolder;
}

.content > section article {
  font-size: inherit;
  margin: 1.9em 0.4em 0 0.4em;
  padding-bottom: 0.4em;
  -webkit-box-shadow: 0px 5px 14px -3px rgba(0, 0, 0, 0.58);
          box-shadow: 0px 5px 14px -3px rgba(0, 0, 0, 0.58);
}

.content > section article h3 {
  background-color: #d6e2de;
  color: #00473e;
  padding: 0.7em 0.7em;
  font-size: 1.2em;
  font-weight: bold;
}

.content > section article p {
  padding: 0 0.5em;
  font-size: 1.2em;
}

.content > section article .image-container {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 45%;
          flex: 0 1 45%;
  position: relative;
  margin: 1.1em 0.6em 0 0.6em;
  max-height: 300px;
  overflow: hidden;
}

.content > section article .image-container:hover .image {
  opacity: 0.3;
}

.content > section article .image-container:hover .middle {
  opacity: 1;
}

.content > section article .image-container .image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.content > section article .image-container .middle {
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 40%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.content > section article .image-container .middle .text {
  text-transform: uppercase;
  font-weight: 700;
  color: #48cfad;
  font-size: 14px;
  padding: 16px 32px;
}

.content > section article .image-container .middle .text a {
  text-decoration: none;
}

.content > section article p {
  font-size: 0.8em;
}

.content > section article img {
  display: block;
  width: 90%;
  max-height: 500px;
  margin: auto;
  -webkit-box-shadow: 0px 5px 14px -3px rgba(0, 0, 0, 0.58);
          box-shadow: 0px 5px 14px -3px rgba(0, 0, 0, 0.58);
}

.content aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 1.2em;
}

.content aside h2 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: #b1ccc2;
  color: #00473e;
  font-size: 1.2em;
  font-weight: bolder;
}

.content aside article {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 45%;
          flex: 0 1 45%;
  position: relative;
  margin: 1.1em 0.6em 0 0.6em;
}

.content aside article:hover .image {
  opacity: 0.3;
}

.content aside article:hover .middle {
  opacity: 1;
}

.content aside article .image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.content aside article .middle {
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.content aside article .middle .text {
  text-transform: uppercase;
  font-weight: 700;
  color: #48cfad;
  font-size: 14px;
  padding: 16px 32px;
}

.content aside article .middle .text a {
  text-decoration: none;
}

footer {
  background-color: #00473e;
  padding: 1.2em 0;
  color: #fff;
  text-align: center;
}

footer .main-projects {
  padding-bottom: 0.5em;
  border-bottom: 1px solid #fff;
}

footer .copyright-notice {
  padding: 0;
  margin: 0;
}

footer .policy a {
  color: inherit;
  text-decoration: none;
}

footer .policy a:hover {
  color: #b1ccc2;
}

/* @media all and (min-width: 700px) {
  .flex-nav {
    display: block;
    & ul {
      display: flex;
      flex-wrap: wrap;
      & li {
        flex: 1 1 50%;
        text-align: center;
      }
    }
  }

  .page-header {
    display: flex;
    flex-direction: column-reverse;
  }
  a.toggleNav {
    display: none;
  }
} */
@media all and (min-width: 1200px) {
  .img-car {
    max-height: 60vh;
    overflow: hidden;
  }
  .page-header {
    max-width: 1140px;
    margin: 2em auto 0 auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .page-header a.toggleNav {
    display: none;
  }
  .page-header a.user {
    -webkit-box-ordinal-group: 10000;
        -ms-flex-order: 9999;
            order: 9999;
    display: block;
    -ms-flex-preferred-size: 10%;
        flex-basis: 10%;
  }
  .page-header h1 {
    width: 80%;
    text-align: center;
    margin: 0.4em 0;
  }
  .page-header .flex-nav {
    margin-top: 2em;
    margin-bottom: 2em;
    -webkit-box-ordinal-group: 100000;
        -ms-flex-order: 99999;
            order: 99999;
    display: block;
  }
  .page-header .flex-nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .page-header .flex-nav ul li {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    text-align: center;
  }
  .page-header .flex-nav ul li a {
    padding: 0.8em 0;
  }
  .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .content > header {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .content aside {
    -ms-flex-preferred-size: 18%;
        flex-basis: 18%;
    margin-right: 2%;
    display: block;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .content > section {
    -ms-flex-preferred-size: 80%;
        flex-basis: 80%;
    -webkit-box-ordinal-group: 1000;
        -ms-flex-order: 999;
            order: 999;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .content > section h2 {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .content > section article {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 47%;
            flex: 0 1 47%;
  }
}
/*# sourceMappingURL=index.css.map */